/* style.css */

/* Profile Picture Box */
.profile-picture-box {
    width: 300px;
    height: 400px;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.profile-picture-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profile-picture-box span {
    color: #999;
    font-size: 14px;
}

.profile-picture-text {
    margin-top: 10px;
    font-weight: bold;
    margin-right: 10px;
}

.image-filename {
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.Enroll-Fullname,
.Enroll-Nickname,
.Enroll-StudentID,
.Enroll-Course,
.Enroll-Year,
.Enroll-Phonenumber {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 415px;
}

.Enroll-role {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 415px;
}

.Enroll-Email {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 415px;
}

.Enroll-Fullname:focus,
.Enroll-Nickname:focus,
.Enroll-StudentID:focus,
.Enroll-Course:focus,
.Enroll-Year:focus,
.Enroll-Phonenumber:focus,
.Enroll-role:focus,
.Enroll-Email:focus {
    border-color: #0ac24d;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Adjust the button position */
.d-flex.justify-content-center {
    margin-top: 20px; /* Add margin to push the button down */
}

/* Enroll Member Button Styling */
button.btn-primary {
    border: 2px solid #000000; /* Black border */
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

/* Button Hover Effect */
button.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.Enroll-label-fullname,
.Enroll-label-nickname,
.Enroll-label-studentid,
.Enroll-label-course,
.Enroll-label-year,
.Enroll-label-phonenumber,
.Enroll-label-role,
.Enroll-label-email {
    font-weight: bold;

}
